<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PERFORMANS.Properties.Settings.PERFORMANSISTEMIConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PERFORMANSISTEMI.accdb"
            providerName="System.Data.OleDb" />
        <add name="PERFORMANS.Properties.Settings.PERFORMANSISTEMI_be_beConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PERFORMANSISTEMI_be_be.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>